[core]
	editor = vim
[user]
	email = ouyangyuchen619@gmail.com
	name = Yuchen Ouyang
[color]
        ui = auto
[pull]
	rebase = false
[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
